<section class="section about-section" id="about">
  <div class="container">
    <div class="about-lead-container">
      <div class="about-title-container">
        <svg width="300" height="21" aria-hidden="true">
          <use href="/img/icons.svg#icon-decoration"></use>
        </svg>
        <h2 class="about-title">
          Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
          Moments.
        </h2>
      </div>
      <div class="about-text-container">
        <p class="about-text">
          With years of experience in wedding photography, Maria specializes in
          capturing genuine emotions and beautiful moments. Her unique approach
          blends artistry with a personal touch, ensuring that each couple's
          story is told through stunning imagery.
        </p>
      </div>
    </div>
    <picture class="">
      <source
        media="(min-width: 1440px)"
        srcset="/img/about/about-d.webp 1x, /img/about/about-d@2x.webp 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="/img/about/about-tab.webp 1x, /img/about/about-tab@2x.webp 2x"
        type="image/png"
      />

      <img
        class="about-image"
        src="/img/about/about-mob.webp"
        srcset="/img/about/about-mob@2x.webp 2x"
        alt="friendly people"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
