<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="header-logo" aria-label="Go to homepage">
                <svg class="header-logo-icon" width="142" height="60">
                    <use href="/img/icons.svg#logo"></use>
                </svg>
            </a>
            <button class="header-burger-btn" type="button" aria-label="Open navigation menu">
                <svg class="header-burger-icon" width="32" height="32">
                    <use href="/img/icons.svg#menu"></use>
                </svg>
            </button>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#">Home</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#mission">Mission</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#benefits">Benefits</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#assortment">Assortment</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
            <a href="#assortment" class="header-order-link">Order</a>
        </div>
    </div>
</header>