.scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  height: 48px;
  width: 48px;
  background-color: rgba(250, 247, 230, 0.8);
  border-radius: 6px;
  border: 1px solid #000;
  font-family: Mulish, sans-serif;
  font-size: 28px;

  transition: background-color 300ms ease;
}

@media only screen and (min-width: 1440px) {
  .scroll-up-btn {
    bottom: 30px;
    right: 40px;
  }
}

.scroll-up-btn:hover,
.scroll-up-btn:focus {
  background-color: #e6d357;
}

.scroll-up-btn:active {
  color: #e6d357;
  background-color: transparent;
}
